body {
  margin: 1rem;
  font-size: 17px;
}

.toc {
  width: fit-content;
  margin-inline: auto;
  margin-top: 1em;
}

p.intro {
  font-weight: bold;
  font-size: 1.1875rem;
  margin-left: 3em;
}

h1 {
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

h2 {
  border: 2px solid;
  padding: 0.125em;
  display: inline-block;
  width: 90%;
/*  text-decoration: underline; 
  text-decoration-style: dashed;
  text-underline-offset: 0.3em; */
}

h3 {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 0.3em;
}

h4 {
  display: inline-block;
}

dt {
  font-weight: bold;
  font-size: 1.0625rem;
  margin-bottom: 0.25em;
}

dd {
  margin-bottom: 1em;
}

nav.main {
  font-size: 1.25rem
}

div.nav {
  margin-block: 1.5em;
}

a.subnav1 {
  font-size: 1rem;
}

section {
  margin-inline: 1.5em;
}

.divider {
  border-top: 5px ridge;
}

span.server-options {
  background-color: black;
  color: white;
  padding-left: 0.25em;
  padding-right: 0.25em;
